header {
  background-color: #42a5f5;
  position: fixed;
  width: 100%;
  z-index: 500;
  top: 0;
}

#usuario {
  background-color: #0288d1;
  padding: 5px 15px;
  border-radius: 15px;
}

#usuario:hover {
  background-color: #024bd1;
  cursor: pointer;
  transition: all .3s ease;
}

li,#iniciarSesion {
  text-transform: uppercase;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

li:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  width: 100%;
  transform: scale(0);
  transform-origin: left;
  transition: all .3s ease;
  background-color: white;
}

.link-nav:hover:before {
  transform: scale(1);
}

.btn-menu-movil {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

#menu-movil {
  width: 100vw;
  height: 100vh;
  background-color: #42a5f5;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: all .3s ease-in-out;
}

.desplazar {
  transform: translateX(0%);
}

.ocultar {
  transform: translateX(-100%);
}
